/* Card */
.card {
  background-color: aqua;
  max-width: 368px;
  border-radius: 20px;
  padding: 20px;
}

.card-heading {
  margin: 0px;
  font-size: 28px;
}

.btn {
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid red;
  padding: 10px;
  cursor: pointer;
}